<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h1> WEB OCR Application </h1>
<h2> Spring Boot image read example program </h2>
<h3> You can add an image to read a text from it</h3>
<div>
    <form method="POST" action="/upload" enctype="multipart/form-data" >
        <table>
            <tr>
                <td>File to upload max (2MB):</td>
                <td><input type="file"
                           name="inputName"
                           accept="image/jpg, image/png, image/bmp, image/tiff" />
                </td>
            </tr>
            <tr><td></td><td><input type="submit" value="Upload" /> Press here to upload the file!</td></tr>
        </table>
    </form>
</div>


</body>
</html>
