<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="image.ico" type="image/x-icon"/>
    <meta charset="UTF-8"/>
    <title>WEB OCR Application</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0"/>
    <meta name="description" content="Online OCR Application. Java Page, programed with Spring Boot to read Text from Image." />
    <meta name="author" content="Virginijus Griežė"/>

</head>
<body>

<h1>Spring Boot - Upload Status</h1>
<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>
<h1>Text search rezults</h1>
<div th:if="${text}">
    <h2 th:text="${text}"/>
</div>
<div th:if="${time}">
    <h2 th:text="${time}"/>
</div>

<form method="GET" action="/" enctype="multipart/form-data">
    <input type="submit" value="Back" />
</form>

<div><!-- space above footer -->
    <td>
        <a> </a>
    </td>
</div>
<footer class="footer hidden-print">
    <div style="margin-top:15px;font-size:11px;text-align: left;">
        <div>
            <author>
                <td>
                    <name>Created and Maintained by Virginijus Griežė</name>
                </td>
            </author>
        </div>
        <div>
            <updated>2019-09-28T18:14:28+02:00  v0.0.3</updated>
        </div>
    </div>
</footer>
</body>
</html>