<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="image.ico" type="image/x-icon"/>
    <meta charset="UTF-8"/>
    <title>Online OCR Application</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0"/>
    <meta name="description" content="Online OCR Application. Java Page, programed with Spring Boot to read Text from Image." />
    <meta name="author" content="Virginijus Griežė"/>

</head>
<body>

<h1 style="margin-top:15px;font-size:36px;text-align: center;"> Online OCR Application </h1>
<h2> Spring Boot image read example program </h2>
<h3> You can add an Image to read a text from it</h3>
<div>
    <form method="POST" action="/upload" enctype="multipart/form-data" >
        <table>
            <tr>
                <td>File to upload max (5MB):</td>
                <td><input type="file"
                           name="inputName"
                           accept="image/jpg, image/png, image/bmp, image/tiff" />
                </td>
            </tr>
            <tr><td></td><td><input type="submit" value="Upload" /> Press here to upload the file!</td></tr>
        </table>
    </form>
</div>

<div><!-- space above footer -->
    <td>
        <a> </a>
    </td>
</div>

<footer class="footer hidden-print">
    <div style="margin-top:15px;font-size:11px;text-align: left;">
        <div>
         <author>
            <td>
                <name>Created and Maintained by Virginijus Griežė</name>
            </td>
         </author>
        </div>
        <div>
            <updated>2019-09-28T18:14:28+02:00  v0.0.3</updated>
        </div>
    </div>
</footer>
</body>
</html>
